*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: sans-serif;
    text-transform: uppercase;
}
form{
    border: none;
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: grey;
    padding: 30px;
}
fieldset{
    border: none;
}
label{
    font-family: sans-serif;
    margin-bottom: 2rem;
}
input{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    background: transparent;
    margin-bottom: 1rem;
    border-radius: 5px;
    height: 25px;
}
.submits{
    width: 100%;
    background-color: green;
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
}
.submits:hover{
    opacity: 0.7;
}

ul{
    position: relative;
    left: 20%;
    top: 60vh;
    width: 40vw;
}
ul li{
    background-color: gray;
    display: block;
    font-family: sans-serif;
    margin-bottom: 10px;
    list-style: none;
    padding: 5px;
    text-align: center;
}
.bck{
    background: radial-gradient(circle, rgba(245, 234, 23, 0.8), rgba(30,34,43,0.2))
}
.error-msg{
    background-color: red;
    color: white;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 5px;
}